.page.home .base-sidebar {

    .content {
        display: flex;
        background-color: white;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.215);

        button {
            font-weight: 500;
        }

        h2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        nav {
            display: flex;
            flex-direction: column;
            height: 100%;
            gap: 5px;

            button {
                background-color: transparent;
                padding: 8px 5px;
                border-radius: 0px;
                border-bottom: solid 2px rgba(0, 0, 0, 0.226);
            }
        }

        .log-div {
            display: flex;
            flex-direction: column;
           
            button {
                padding: 8px 10px;
                background-color: red;
                color: white;
            }
        }
    }
}